%li{ style: "list-style-type: none" }
  %p= comment.content
  %small
    - if comment.user != nil
      = "Posted by: "
      = link_to "#{comment.user.name}", comment.user
      = "#{comment.created_at}"
    - else
      = "Posted by deleted user"
      = "#{comment.created_at}"
%hr