%li.link
  .left
    .left
      .votebox
        .upvote= link_to "up", vote_link_path(link, type: "up"), method: "post"
        .score= link.reputation_for(:votes).to_i
        .downvote= link_to "down", vote_link_path(link, type: "down"), method: "post"

    .right= image_tag(link.thumbnail_url, height: '128px', width: '190px')

  %h2= link_to link.title, link
  %p= link.description
  = link_to "Comments: #{link.comments_count}", link
  -if link.user != nil
    = "Submitted: #{distance_of_time_in_words(link.created_at, Time.now)} ago by: "
    = link_to "@#{link.user.name}", user_path(link.user)
  -else
    = "Submitted: #{distance_of_time_in_words(link.created_at, Time.now)} ago by deleted user"

  - if current_user != nil && current_user.admin?
    .right
      = link_to "Delete", link, method: :delete, data: { confirm: "You sure?" }
      = link_to "Edit", edit_link_path(link)   