%li
  .left
    .left
      .votebox
        .upvote= link_to "up", vote_link_path(link, type: "up"), method: "post"
        .score= link.reputation_for(:votes).to_i
        .downvote= link_to "down", vote_link_path(link, type: "down"), method: "post"

    .right= image_tag(link.thumbnail_url, height: '128px', width: '190px')

  %h2= link_to link.title, link
  %p= link.description
  = link_to "Comments: #{link.comments.count}", link_comments_path(link)
  = "Submitted: #{link.created_at} by: "
  = link_to "@#{link.user.name}", user_path(link.user)

  - if current_user != nil && current_user.admin?
    .right
      = link_to "Delete", link, method: :delete, data: { confirm: "You sure?" }
      = link_to "Edit", edit_link_path(link)   