%h1= link_to @link.title, @link.url
= @link.description

%p
  - if current_user &&  (current_user.admin? || current_user == User.find(@link.user_id))
    = link_to 'Edit', edit_link_path(@link)
  = link_to 'Back', links_path

%hr

%h3= "Comments (#{@link.comments.count})"

%hr

-if @link.comments.any?
  = render @link.comments

%h3 Add comment
= form_for [@link, @comment], class: "form-group" do |f|
  = f.text_area :content, class: "form-control", style: "width:500px", rows: 4
  = f.submit 'Post comment', class: "btn btn-primary", style: "width:500px"