%h1= @link.title
= @link.description

%p
  - if current_user.admin? || current_user == User.find(@link.user_id)
    = link_to 'Edit', edit_link_path(@link)
  = link_to 'Back', links_path

%p
  = link_to "Comments: #{@link.comments.count}",  link_comments_path(@link)